body{
    margin: 0;
    padding: 0;
    width: 100%vw;
    height: 100%vw;
    background: rgb(255,255,255);
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 6em;
    display: flex;
    flex-direction: column;
}
.menu{
    width: 100%;
    height: 5em;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
header nav p{
    margin-right: 92px;
    text-align: end;
}
.nav-titulo{
    margin-left: 92px;
    text-align: center;
    color: rgb(72, 128, 212);
    font-style:italic;
    font-weight: bold;
}
.nav-a{
    text-decoration: none;
    color: black;
}
.sub-menu{
    background: rgb(89,89,89);
    height: 3em;
    display: flex;
    justify-content: space-between;
    color: white;
}
.nav-preg{
    margin-left: 4em;
}
.nav-inicio{
    margin-right: 6em;
}
main{
    display: flex;
}
article {
    width: 43%;
    margin: 2em;
  }
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em;
    margin-top: 2em;
    height: 20em;
}

aside h1{
    font-size: 4em;
    text-shadow: -10px -5px 10px rgb(102,241,201);
    color: rgb(28,109,74);
    text-align: center;
}
.aside-p{
    font-size: 23px;
    color: black;
    text-align: justify;
    text-shadow: 0 0 black;
    font-weight: normal;
}

.article-divs{
    display: flex;
    width: 80em;
    height: 44em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
article div{
    background-color: rgb(34,170,170);
    width: 423px;
    border: solid 1px black;
}
.radios{
    border-radius: 55em;
    width: 6em;
    height: 6em;
    text-align: center;
    background-color: white;
    margin: 2em;
}
.radio-p{
    font-size: 25px;
    text-align: center;
}
.div-letra{
    color: white;
    font-size: 25px;
    text-align: justify;
    margin: 11px;
}
.div-img{
    width: 100%;
}
.div-divisor{
    background-color: white;
    border: gray solid 1px;
    width: 100%;
    height: 4em;
    margin-top: 2em;
}
img{
    width: 35em;
    height: 19em;
    margin-top: 1em;
}
footer{
    display: flex;
    justify-content: center;
    background-color: rgb(238,238,238);
    height: 25em;
}
footer div{
    display: flex;
    margin-bottom: 8em;
    background: rgb(0,255,255);
    width: 26em;
    height: 10em;
    margin-top: 2em;
}
.footer-div{
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    margin-bottom: 1em;
}
.footer-radio{
    width: 10em;
    height: 10em;
    border-radius: 7em;
    border: black solid 1px;
    margin: 0;
    padding: 0;
    background: white;
}
.footer-radios{
    margin-left: -6em;
    background: white;
}
.footer-titulo{
    font-size: 2em;
    margin: auto;
    margin-left: 23px;
    font-weight: bold;
}
.footer-inf{
    margin: auto;
    margin-left: 29px;
    font-size: 21px;
    font-weight: bold;
}
.footer-inf2{
    margin: auto;
    margin-left: 4em;
    font-size: 26px;
    font-weight: bold;
}
.footer-img{
    width: 12em;
    height: 5em;
    margin: auto;
    margin-left: 6em;
}

@media (max-width: 600px) {
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1em;
        margin-top: 2em;
        height: 20em;
    }
    
  }